<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '詳細')"></head>
<body>
  <div class="container">
    <h1>お店の情報詳細</h1>
    <div th:object="${userInfo}">
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">ID</div>
        <div class="col pt-3 border">
          <p th:text="*{id}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">名前</div>
        <div class="col pt-3 border">
          <p th:text="*{name}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">住所</div>
        <div class="col pt-3 border">
          <p th:text="*{address}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">電話番号</div>
        <div class="col pt-3 border">
          <p th:text="*{tel}"></p>
        </div>
      </div>
    <div class="row mx-md-n5">
      <div class="col-2 pt-3 border bg-light">営業時間</div>
      <div class="col pt-3 border">
        <p th:text="*{opening}"></p>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
      <a th:href="@{/user/new}" class="btn btn-primary">　予約はこちら　</a>
      <a th:href="@{/user/{id}/save(id=${userInfo.id})}" class="btn btn-secondary">現時点の予約一覧へ</a>
      <a href="/user/show" class="btn btn-secondary">お店一覧に戻る</a>
  </div>
</div>
</body>
</html>