<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'お店一覧')"></head>

<style>
  body {
    background-image: url(/images/healthy.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat:  no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    }
  </style>
  
<body>
  
  <div class="container">
    <br>
    <div>
      <a th:href="@{/user/show?key1=ユーザー}" class="btn btn-primary">　ユーザーログイン　</a>　
      <a th:href="@{/user/show?key1=オーナー}" class="btn btn-success">　オーナーログイン　</a>
    </div>
    <br>
    <h1>お店一覧</h1>
    <br>
    <form th:action="@{/user/show}" th:method="get">
      <table class="table table-bordered">
        <tr>
          <th><h4>店舗検索</h4></th>
          <td><input type="text" name="search" class="form-control"></td>
        </tr>
      </table>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" >検索</button>
        <a href="/user/show" class="btn btn-secondary">クリア</a>
      </div>
    </form>  
    <br>
    <table class="table table-striped" style="background-color: #e2e6ea">
      <thead>
        <tr>
          <th>ID</th>
          <th>店名</th>
          <th>ジャンル</th>
          <th>住所</th>
          <th>営業時間</th>
          <th>残席数</th>
          <th>電話番号</th>
          <th>詳細 <br>
            ※予約は【お店の詳細】から</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${userList}" class="align-middle">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.genre}"></td>
          <td th:text="${user.address}"></td>
          <td th:text="${user.opening}"></td>
          <td th:text="${user.seats - user.countreserved}"></td>
          <td th:text="${user.tel}"></td>
          <td><a th:href="@{/user/{id}/detail(id=${user.id})}" class="btn btn-secondary">お店の詳細</a></td>
          <!-- <td><a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-secondary">詳細</a></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>

<!-- <h1>テスト</h1>

<a th:href="@{/user/detail}" class="btn btn-primary">詳細画面へ</a> -->